<launch>
	<node pkg="kinetic_sample_image_proccessing" type="processor_node" name="image_proc" clear_params="true" output="screen">
		<!-- Operation Parameters -->
		<param name="topic_input_camera_info" value="/camera/camera_info" type="str"/>
		<param name="topic_input_image" value="/camera/image_raw" type="str"/>
		<param name="topic_output_debug_image" value="debug_image" type="str"/>
		<param name="topic_output_overlay_image" value="overlay_image" type="str"/>
		<param name="topic_output_detect" value="detected_circles" type="str"/>
	</node>

	<node pkg="cv_camera" type="cv_camera_node" name="camera" clear_params="true" output="screen"/>
</launch>
